<div class="container-fluid">
    <div class="main">
        {{> header splash=false}}
        <div class="row">
            Welcome back, {{ username }}.
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <p>Posts</p>
            </div>
            <hr class="my-2">
            {{!-- block which will need to be populated with a {#each art}. Need to determine how to wrap a row around every 3 --}}
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <img src="http://www.clker.com/cliparts/1/4/2/8/11954403871637743121zeimusu_dog_face_4.svg.hi.png" alt="{{artName}}" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <img src="http://www.clker.com/cliparts/1/4/2/8/11954403871637743121zeimusu_dog_face_4.svg.hi.png" alt="{{artName}}" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <img src="http://www.clker.com/cliparts/1/4/2/8/11954403871637743121zeimusu_dog_face_4.svg.hi.png" alt="{{artName}}" class="img-fluid">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <img src="http://www.clker.com/cliparts/1/4/2/8/11954403871637743121zeimusu_dog_face_4.svg.hi.png" alt="{{artName}}" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <img src="http://www.clker.com/cliparts/1/4/2/8/11954403871637743121zeimusu_dog_face_4.svg.hi.png" alt="{{artName}}" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <img src="http://www.clker.com/cliparts/1/4/2/8/11954403871637743121zeimusu_dog_face_4.svg.hi.png" alt="{{artName}}" class="img-fluid">
                </div>
            </div>
        </div>

        {{!-- Comments section --}}
        <div class="row mt-5">
            <div class="col-12">
                <p>Comments</p>
            </div>
            <hr class="my-2">
            {{!-- block which will need to be populated with a {#each comment}. --}}
            <div class="row">
                <div class="col-12">
                </div>
                <div class="col-12">
                </div>
                <div class="col-12">
                </div>
            </div>
        </div>

    </div>
</div>